.user-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
}
.user-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background: #292929;
}
.user-item__content {
  padding: 0;
}
.user-item__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}
.user-item__info h2,
h3 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
}
.user-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}
.city-item__actions button,
.city-item__actions a {
  margin: 0.5rem;
}
