.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #4285f4;
  border-radius: 4px;
  background: #4285f4;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}
.button:focus {
  outline: none;
}
.button:hover,
.button:active {
  background: #0d47a1;
  border-color: #0d47a1;
}
.button--inverse {
  background: transparent;
  color: #4285f4;
}
.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #4285f4;
}
.button--danger {
  background: #ff4444;
  border-color: #ff4444;
}
.button--danger:hover,
.button--danger:active {
  background: #801919;
  border-color: #801919;
}
.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}
.button--small {
  font-size: 0.8rem;
}
.button--big {
  font-size: 1.5rem;
}
